<%- include ("./parts/header.ejs") %>

<link rel="stylesheet" href="/css/custom.css" />
<div class="secondaryBanner"></div>
<div class = "font-myfont container mx-auto -mt-56 text-center">
<h2 class="text-white tracking-wide uppercase text-2xl font-bold sm:text-4xl">
    404 | Page Not Found
</h2>
<a href="/" class = "text-xl text-gray-500"> Back </a>
</div>


<%- include ("./parts/footer.ejs") %>