<%- include ("./parts/header.ejs") %>
<link rel="stylesheet" href="/css/custom.css" />
<script defer src="/js/p5.min.js"></script>
<script src="/js/algorithms/graphDS.js"></script>
<script src="/js/algorithms/unweighted.js"></script>
<script src="/js/algorithms/weighted.js"></script>
<script src="/js/sketches/board.js"></script>

<div class="content font-myfont">
    <div class="secondaryBanner"></div>

    <!--Top Section-->
    <div class="container mx-auto -mt-56">
        <div class="w-full text-center mb-4 px-10">
            <h2 class="text-white textGlow tracking-wide uppercase text-2xl font-bold sm:text-4xl">
                Simulation drawing tool
            </h2>

            <!--Modal Button and Content-->
            <section class="flex p-5 justify-center items-start">
                <button id="clear"
                  onclick= "document.getElementById('modal1').showModal()"
                  type="button"
                  class= "py-3 px-10 bg-white text-pinkishPurple-100  rounded-lg uppercase shadow-xl"
                  >How-To</button>
            </section>       
            <dialog id= 'modal1'  class="h-auto w-11/12 md:w-1/2 p-5  bg-white rounded-md ">
                <div class="flex flex-col w-full h-auto ">
                    <!-- Header -->
                    <div class="flex w-full h-auto justify-center items-center">
                    <div class="flex w-10/12 h-auto py-3 justify-center items-center text-2xl font-bold">
                        How-To
                    </div>
                    <div onclick="document.getElementById('modal1').close();" class="flex w-1/12 h-auto justify-center cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </div>
                    <!--Header End-->
                    </div>
                    <!-- Modal Content-->
                        <div class="flex w-full h-auto py-5 px-4 justify-center items-center bg-gray-200 rounded text-center text-gray-500 text-sm md:text-md">
                        1. Drag to move source cell (Robot) and click on it to rotate it
                        <br />
                        2. Drag to move destination cell (Target).
                        <br/>3. Click on a cell to fill it with an obstacle (click again to empty it).
                    </div>
                    <!-- End of Modal Content-->
                        
                    </div>
            </dialog>

        </div>
    </div>

    <!--MAIN-->
    <div class="md:flex justify-center md:space-x-6">
        <!-- Generate Graph-->
        <div class="flex-row md:flex-none">
            <div id="generate-graph"
                class="mb-10 container mx-auto w-72 rounded-lg md:rounded-tl-none shadow-lg my-2 bg-white">
                <form class="p-8" action="/" method="POST">
                    <div id="rowsNcols" class="grid grid-cols-2 gap-6 justify-items-around mb-2">
                        <div>
                            <label class="block uppercase tracking-wide text-pinkishPurple-100 text-sm mb-1"
                                for="rows">Rows
                            </label>
                            <input
                                class="block w-full bg-white text-gray-700 text-sm border border-gray-700 rounded-md py-1 px-1"
                                type="number" name="rows" step="1" min="0" max="50" value="15" />
                        </div>
                        <div>
                            <label class="block uppercase tracking-wide text-pinkishPurple-100 text-sm mb-1"
                                for="cols">Columns
                            </label>
                            <input
                                class="block w-full bg-white text-gray-700 text-sm border border-gray-700 rounded-md py-1 px-1"
                                type="number" name="rows" step="1" min="0" max="50" value="15" />
                        </div>
                    </div>

                    <div id="sourceNdest" class="grid grid-cols-2 gap-6 justify-items-around mb-4">
                        <div>
                            <label for="source"
                                class="block uppercase tracking-wide text-pinkishPurple-100 text-sm mb-1">Source</label>
                            <div id="source" class="grid grid-cols-2 gap-1 justify-items-around">
                                <input
                                    class="w-12 bg-white text-gray-700 text-sm border border-gray-700 rounded-md py-1 px-1"
                                    name="sourceX" type="number" placeholder="x" value="7" min="0" max="49" />
                                <input
                                    class="w-12 bg-white text-gray-700 text-sm border border-gray-700 rounded-md py-1 px-1"
                                    name="sourceY" type="number" placeholder="y" value="7" min="0" max="49" />
                            </div>
                        </div>
                        <div>
                            <label for="dest"
                                class="block uppercase tracking-wide text-pinkishPurple-100 text-sm mb-1">Destination</label>
                            <div id="dest" class="grid grid-cols-2 gap-1 justify-items-around">
                                <input
                                    class="w-12 bg-white text-gray-700 text-sm border border-gray-700 rounded-md py-1 px-1"
                                    name="destX" type="number" placeholder="x" value="14" min="0" max="49" />
                                <input
                                    class="w-12 bg-white text-gray-700 text-sm border border-gray-700 rounded-md py-1 px-1"
                                    name="destY" type="number" placeholder="y" value="12" min="0" max="49" />
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-5 justify-items-between">
                        <button id="generate" class="text-white text-sm uppercase py-2 px-2 rounded-lg" type="submit">
                            Generate
                        </button>
                        <button id="clear"
                            class="text-pinkishPurple-100 border border-gray-700 hover:border-transparent text-sm uppercase py-2 px-2 rounded-lg"
                            type="reset">
                            Clear
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!---Board-->
        <div class="flex-row md:flex-none">
            <div id="board-holder"
                class="mb-10 container mx-auto max-w-xs overflow-hidden border border-b-4 border-pinkishPurple-100 rounded-lg shadow-2xl my-2 bg-white">
            </div>
        </div>

        <!---Algorithm Choice-->
        <div class="flex-row md:flex-none">
            <div id="algo-choice" class="mb-10 container mx-auto w-72 rounded-lg shadow-lg my-2 bg-white">
                <form class="p-8" action="/" method="POST">
                    <div class="flex space-x-0 mb-4 space-x-0 justify-between ">
                        <div class ="flex-none" >
                            <label for="algorithm"
                                class="block uppercase tracking-wide text-pinkishPurple-100 text-sm mb-1">
                                Algorithm</label>
                            <select id="algorithm"
                                style="padding-top: 0.35rem; padding-bottom: 0.35rem;"
                                class="w-48 bg-white text-gray-700 text-sm border border-gray-700 rounded-md  px-1">
                                <option value="A-star"selected="selected">A*</option>
                                <option value="bfs" >
                                    Breadth-first search
                                </option>
                                <option value="dijkastra">Dijkastra</option>
                            </select>
                        </div>
                        <div class="flex-none pt-8">
                        <!--Modal Button and Content-->
                            <section class="flex justify-center items-start">
                                <button id="clear"
                                onclick= "document.getElementById('modal2').showModal()"
                                type="button"
                                class= "fa bg-transparent text-pinkishPurple-100 text-lg rounded-lg uppercase shadow-xl"
                                >&#xf05a;</button>
                            </section>       
                        </div>
                    </div>
                        <dialog id= 'modal2'  class="h-auto w-11/12 md:w-1/2 p-5  bg-white rounded-md ">
                            <div class="flex flex-col w-full h-auto ">
                                <!-- Header -->
                                <div class="flex w-full h-auto justify-center items-center">
                                <div class="flex w-10/12 h-auto py-3 justify-center items-center text-2xl font-bold">
                                    Pathfinding Algorithms
                                </div>
                                <div onclick="document.getElementById('modal2').close();" class="flex w-1/12 h-auto justify-center cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                </div>
                                <!--Header End-->
                                </div>
                                <!-- Modal Content-->
                                    <div class="flex w-full h-auto py-5 px-4 justify-center items-center bg-gray-200 rounded text-center text-gray-500 text-sm md:text-md">
                                    1. A*:
                                    <br />
                                    2. BFS:
                                    <br/>3.Dijksta: 
                                </div>
                                <!-- End of Modal Content-->
                                    
                            </div>
                        </dialog>
                    <div class="grid grid-cols-2 gap-5 justify-items-between mb-5">
                        <button id="generate" class="text-white text-sm uppercase py-2 px-2 rounded-lg" type="submit">
                            Solve
                        </button>
                        <button id="clear"
                            class="text-pinkishPurple-100 border border-gray-700 hover:border-transparent text-sm uppercase py-2 px-2 rounded-lg"
                            type="submit">
                            Stop
                        </button>
                    </div>
                    <div>
                        <button id="generate" class="text-white w-full text-sm uppercase py-3 px-2 rounded-lg"
                            type="submit">
                            Connect & RUN
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include ("./parts/footer.ejs") %>